@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$light-green-palette, 300);
$accent: mat.define-palette(mat.$deep-purple-palette, 700);

$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette($primary);
}

mat-icon {
  font-size: 16px;
  color: white !important;
}

.component-container {
  min-width: 400px;
  min-height: calc(100% - 90px);
  padding: 70px 20px 20px 20px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.error-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  font-size: 16px;
  color: orangered;
}
.cloud{
  margin-bottom: 10px;
}
.cloud-label{
  padding: 10px;
  border-radius: 25px;
  color: black;
  background-color: white;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .component-container {
    min-height: calc(100% - 120px);
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .component-container {
    min-height: calc(100% - 120px);
    padding-top: 100px;
  }
}
