@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$light-green-palette, 300);
$accent: mat.define-palette(mat.$deep-purple-palette, 700);

$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette($primary);
}

.component-container {
  padding: 70px 20px 20px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .component-container {
    min-height: calc(100% - 120px);
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .component-container {
    min-height: calc(100% - 120px);
    padding-top: 100px;
  }
}
