<div id="a1-container" class="component-container">
    <div id="description" class="cloud-text margin-bottom-10">Witaj w pierwszym module! Pomóż kotce Mruczce zrozumieć otaczający ją świat i spełnić jej wielkie marzenie. Zanim przeżyje swoją wielką przygodę, musi nauczyć się wielu nowych słów i podstawowych zwrotów. Każda lekcja przybliży ją do celu! Dziękujemy, że podejmujesz to wyzwanie!</div>
    <button  mat-button class="blue-button" routerLink="/level/a1/lesson1">Lekcja 1</button>
    <button  mat-button class="blue-button" routerLink="/level/a1/lesson2">Lekcja 2</button>
    <button  mat-button class="blue-button" routerLink="/level/a1/lesson3">Lekcja 3</button>
    <button  mat-button class="blue-button" routerLink="/level/a1/lesson4">Lekcja 4</button>
    <button  mat-button class="blue-button" routerLink="/level/a1/lesson5">Lekcja 5</button>
</div>