<div id="home-container" class="component-container">
    <div id="description">
        <h1>Wejdź do świata językowej przygody!</h1>

        <p>Zacznij jako mały kotek i ucz się języka przez zabawę.</p>
        <p>Każdy test sprawdza Twoje umiejętności językowe.</p>
        <p>Zbieraj punkty i odblokowuj ukryte funkcje aplikacji!</p>
        <p>Pokonuj wyzwania - Wyższy poziom to trudniejsze zadania!</p>
        <p>Zbieraj nagrody - Odblokuj bonusy, które pomogą Ci w nauce!</p>
        <p>Poznaj niespodzianki, które czekają na Ciebie!</p>
    </div>
    <div id="cat"></div>
</div>