<!-- <div id="home-container-logout" class="component-container">

    <div id="description">
        <h1>Wejdź do świata językowej przygody!</h1>

        <p>Nauka języków jeszcze nigdy nie była tak prosta.</p>
        <p>Każdy test sprawdza Twoje umiejętności językowe.</p>
        <p>Zbieraj punkty i odblokowuj ukryte funkcje aplikacji!</p>
        <p>Pokonuj wyzwania - Wyższy poziom to trudniejsze zadania!</p>
        <p>Poznaj niespodzianki, które czekają na Ciebie!</p>
        <p>Kotek będzie dawał Ci cenne wskazówki na każdym etapie!<p>
    </div>
    <div id="cat-logout" class="cat"></div>
</div> -->

<div id="home-container-login" class="component-container">
  <div id="cat-container">
    <div class="cloud cloud-label">
      Wybierz poziom na jakim dziś będziemy się uczyć!
    </div>
    <div id="cat-login" class="cat"></div>
  </div>
  <div id="select-level-container">
    <button mat-button class="select-level-button hint" (click)="showHint()">Daj wskazówkę</button>
    <div id="hint-window" *ngIf="isHint">
      <div id="hint-level-description">
        Nie musisz zawsze uczyć się na swoim poziomie - warto poznać też inne.
        Nawet z poziomów o niższym poziomie niż Twój możesz się czegoś
        dowiedzieć. Gdy masz lepszy dzień spróboj wejść na poziom wyżej. Mogę Ci
        podpowiedzieć, że najlepszą strategią może być balans między róźnymi
        poziomami. Jestem pewna, że osiągniesz swój cel!
      </div>
      <div id="hint-level-table">
        <span>Przypomnienie poziomów:</span>
        <span>A1 - Początkujący</span>
        <span>A2 - Podstawowy</span>
        <span>B1 - Średnio - zaawansowany</span>
        <span>B2 - Wyższy - średnio - zaawansowany</span>
        <span>C1 - Zaawansowany</span>
        <span>C2 - Biegły</span>
      </div>
    </div>
    <div id="container-select-button">
      <button mat-button class="select-level-button">A1</button>
      <button mat-button class="select-level-button">A2</button>
      <button mat-button class="select-level-button">B1</button>
      <button mat-button class="select-level-button">B2</button>
      <button mat-button class="select-level-button">C1</button>
      <button mat-button class="select-level-button">C2</button>
    </div>
  </div>
</div>
