@use "@angular/material" as mat;
@use "src/styles" as theme;

#home-container-logout, #home-container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../../assets/backgrounds/home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cat-container{
  display: flex;
  flex-direction: column;
}

#select-level-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#cat-login, #cat-logout {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#cat-logout{
  background-image: url(../../../../assets/kitten.png);
}

#cat-login{
  background-image: url(../../../../assets/kitten2.png);
}

.cat{
  width: 200px;
  height: 200px;
}

.select-level-button{
  width: auto;
  margin-bottom: 5px;
  font-size: 18px;
  color: white !important;
  background-color: mat.get-color-from-palette(theme.$accent, 700) !important;
}

.select-level-button:hover{
  background-color: mat.get-color-from-palette(theme.$primary, 800) !important;
}

#hint-window{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #home-container-logout {
    flex-direction: row;
  }
  #home-container-login {
    flex-direction: row;
  }
  #select-level-container{
    padding-left: 50px;
  }
  .cat {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  #home-container-logout {
    flex-direction: row;
  }
  #home-container-login {
    flex-direction: row;
  }
  #select-level-container{
    padding-left: 50px;
  }
  .cat {
    width: 300px;
    height: 300px;
  }
}
