<div id="navbar-container">
  <div id="menu-buttons">
    <button mat-button [matMenuTriggerFor]="menu" id="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="menu-button" mat-menu-item routerLink="/">Strona główna</button>
      <button class="menu-button" mat-menu-item routerLink="/login">Logowanie</button>
      <button class="menu-button" mat-menu-item routerLink="/register">Rejestracja</button>
      <button class="menu-button" mat-menu-item routerLink="/games">Gry</button>
    </mat-menu>
  </div>
  <div id="tab-buttons"></div>
  <button class="tab-button" routerLink="/">Strona główna</button>
  <button class="tab-button" routerLink="/login">Logowanie</button>
  <button class="tab-button" routerLink="/register">Rejestracja</button>
  <button class="tab-button" routerLink="/games">Gry</button>
</div>