@use "@angular/material" as mat;
@use "src/styles" as theme;

button{
  color: white !important;
}

#navbar-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding-left: 20px;
  background-color: mat.get-color-from-palette(theme.$accent, 700);
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

::ng-deep .mat-mdc-menu-content{
  background-color: mat.get-color-from-palette(theme.$accent, 700) !important;
}

.tab-button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  font-size: 16px;
  border: 0;
  background-color: mat.get-color-from-palette(theme.$accent);
}
.menu-button:hover{
  background-color: mat.get-color-from-palette(theme.$primary, 800) !important;
}

.tab-button:hover{
  background-color: mat.get-color-from-palette(theme.$primary, 800) !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  #navbar-container {
    justify-content: center;
    padding-left: 0px;
  }
  #menu {
    display: none;
  }
  .tab-button {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #navbar-container {
    justify-content: center;
    padding-left: 0px;
  }
  #menu {
    display: none;
  }
  .tab-button {
    display: flex;
  }
}
